<!doctype html>
<html ng-app="orangeIronManager">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="css/orangeiron.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-animate.js"></script>
    <!-- ngAnimation -->
    <link rel="stylesheet" type="text/css" href="css/ng-animation.css">
    <!-- /ngAnimation -->
    <script type="text/javascript" src="js/orangeiron.js"></script>
    <script type="text/javascript" src="js/uuid.js"></script>
    <script type="text/javascript" src="js/save.js"></script>
</head>

<body ng-controller="OrangeIronCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Orange Iron Manager</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a>
                    </li>
                    <li><a href="#">Link</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#aboutBox">Über</a>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="container">
        <!-- <div class="page-header">
            <div class="row">
                <h1>Orange Iron Manager</h1>
                <p class="lead">The fast edit tool for the Orange Iron Android app</p>
            </div>
        </div> -->
        <form role="form" ng-submit="getData(url)">
            <h4>Daten laden</h4>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="url" placeholder="URL des Server-JSON (z.B. https://dl.dropboxusercontent.com/u/64100103/AndrVocJSON/albert.json)">
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Lade Daten">
                </span>
            </div>
        </form>
        <hr class="clearfix">
        <form role="form">
            <h4>Neuen Server erstellen</h4>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="serverName" size="100" placeholder="Servername">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="serverDescription" size="100" placeholder="Beschreibung">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="createServer()">Neuen Server erstellen</button>
            </div>
        </form>
        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Serverinfo
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{server.version}}</span>
                        {{server.serverName}}
                    </li>
                    <li class="list-group-item">{{server.serverDescription}}</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <form class="form-inline" role="form">
                    <div class="form-group">Lektionen</div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="q.name" placeholder="Filtern nach Lektionsname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="q.vocabulary" placeholder="Filtern nach Vokabel">
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="lesson in server.lessons | filter:q:strict track by $index" class="list-group-item toggle">
                        <span class="badge">{{lesson.version}}</span>
                        <ul class="list-inline">
                            <li>
                                <button title="Lektion bearbeiten" class="btn btn-success" ng-click="editLesson(lesson)"><i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </li>
                            <li>{{lesson.name}}</li>
                            <li>
                                <span title="Anzahl der Vokabeln in der Lektion" class="label label-info">{{lesson.vocabulary.length}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary" ng-show="showEditSection()">
            <div class="panel-heading">Lektion bearbeiten</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="lessonToEdit.name">
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="word in lessonToEdit.vocabulary track by $index" class="list-group-item">
                            <div class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input class="form-control" type="text" ng-model="word.originalWord">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" ng-model="word.correctTranslation">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" ng-repeat="translation in word.alternativeTranslations track by $index" ng-model="translation.text">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-success" ng-click="saveEditedLesson()"><i class="glyphicon glyphicon-floppy-disk"></i> Speichern</button>
                    <button class="btn btn-danger" ng-click="cancelEditedLesson()"><i class="glyphicon glyphicon-remove"></i> Abbrechen</button>
                </form>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Neue Lektion hinzufügen</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newLessonName" placeholder="Lektionsname">
                </div>
                <div class="form-group">Sprache:</div>
                <div class="form-group">
                    <select class="form-control" required ng-model="language.locale" ng-options="l.locale as l.name for l in languages">
                    </select>
                </div>
                <hr>
                <div ng-repeat="word in newWords track by $index">
                    {{word.originalWord}} -> {{word.correctTranslation}} (
                    <span ng-repeat="translation in word.alternativeTranslations track by $index" class="badge" style="margin-right: 5px">{{translation.text}}</span>)
                </div>
                <hr>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newOriginalWord" placeholder="originalWord">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newCorrectTranslation" placeholder="correctTranslation">
                </div>
                <form role="form">
                    <div class="form-group">
                        <span ng-repeat="alternativeTranslation in newAlternativeTranslations track by $index" class="badge" style="margin-right: 5px">{{alternativeTranslation.text}}</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newAlternativeTranslation" placeholder="alternativeTranslation">
                    </div>
                    <div class="form-group">
                        <button class="btn" ng-click="addTranslation()"><i class="glyphicon glyphicon-plus-sign"></i> Übersetzung</button>
                    </div>
                </form>
                <div class="form-group">
                    <button class="btn" ng-click="addWord()"><i class="glyphicon glyphicon-plus-sign"></i> Wort</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="addLesson()">Lektion hinzufügen</button>
                </div>
            </div>
        </div>
        <hr>


        <form class="form-inline pull-right" role="form">
            <div class="form-group">
                <button class="btn btn-warning" ng-click="toggleDebug()"><i class="glyphicon glyphicon-wrench"></i> Debug</button>
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="saveData()"><i class="glyphicon glyphicon-floppy-disk"></i> Speichern</button>
            </div>
        </form>
        <p class="clearfix"></p>
        <div ng-show="isDebugEnabled()">
            <hr>
            <h3>DEBUG</h3>
            <textarea class="form-control" rows="100">{{server | stripAlternativeTranslations}}</textarea>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="aboutBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">OrangeIronManager v0.1 &copy;2013 Robert Mathes</h4>
                </div>
                <div class="modal-body">
                    <p>OrangeIronManager ist die Verwaltungskomponente für die Android-App <a href="https://github.com/doc-brown/OrangeIron">OrangeIron</a>. Hiermit lassen sich Vokabelserver anlegen und bearbeiten.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</body>

</html>
