<!doctype html>
<html ng-app>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/orangeiron.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script type="text/javascript" src="js/orangeiron.js"></script>
  </head>
  <body>
    <div ng-controller="OrangeIronCtrl">
      <h1>Orange Iron - Vokabelmanager</h1>
      <hr>
      <form ng-submit="getData()">
        <input type="text" ng-model="url" size="200" placeholder="https://googledrive.com/host/0B5pL2OLIkCeiN00xdnVyRGszTmM/albert2.json">
        <input class="btn-primary" type="submit" value="Lade Daten">
      </form>
      <hr>
      <div class="panel panel-primary">
      	<div class="panel-heading">
        	Serverinfo
		</div>
        <div class="panel-body">
        	<ul class="list-group">
			  <li class="list-group-item">
			    <span class="badge">{{server.version}}</span>
	        	{{server.serverName}}
			  </li>
			  <li class="list-group-item">{{server.serverDescription}}</li>
			</ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Lektionen</div>
        <div class="panel-body">
        	<ul class="list-group">
			  <li ng-repeat="lesson in lessons" class="list-group-item">
			    <span class="badge">{{lesson.version}}</span>
			    {{lesson.name}} <span class="label label-info">{{lesson.vocabulary.length}}</span>
			  </li>
			</ul>
          <!-- <div ng-repeat="lesson in lessons" class="panel panel-primary">
            <div class="panel-heading">{{lesson.name}} Version: {{lesson.version}}</div>
            <div class="panel-body">Vokabelanzahl: {{lesson.vocabulary.length}}</div>
            <div ng-repeat="word in lesson.vocabulary">
            	<div class="panel panel-primary">
            		<div class="panel-heading">
            			{{word.originalWord}} -> {{word.correctTranslation}}
            		</div>
            		<div class="panel-body">
            			<span ng-repeat="translation in word.alternativeTranslations track by $index">{{translation}}, </span>
            		</div> 
            	</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>