<form role="form">
    <h4>Neuen Server erstellen</h4>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="serverName" size="100" placeholder="Servername">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="serverDescription" size="100" placeholder="Beschreibung">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="createServer()">Neuen Server erstellen</button>
    </div>
</form>
