<div class="panel panel-primary">
    <div class="panel-heading">Lektion bearbeiten</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="lessonToEdit.name">
            </div>
            <ul class="list-group">
                <li ng-repeat="word in lessonToEdit.vocabulary track by $index" class="list-group-item">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="word.originalWord">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="word.correctTranslation">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-repeat="translation in word.alternativeTranslations track by $index" ng-model="translation.text">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" id="newOriginalWord" ng-model="newOriginalWord" placeholder="originalWord">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newCorrectTranslation" placeholder="correctTranslation">
            </div>
            <form role="form">
                <div class="form-group">
                    <span ng-repeat="alternativeTranslation in newAlternativeTranslations track by $index" class="badge" style="margin-right: 5px">{{alternativeTranslation.text}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newAlternativeTranslation" placeholder="alternativeTranslation">
                </div>
                <div class="form-group">
                    <button class="btn" ng-click="addTranslation()"><i class="glyphicon glyphicon-plus-sign"></i> Übersetzung</button>
                </div>
            </form>
            <div class="form-group">
                <button class="btn" ng-click="addWord()"><i class="glyphicon glyphicon-plus-sign"></i> Wort</button>
            </div>
            <button class="btn btn-success" ng-click="saveEditedLesson()"><i class="glyphicon glyphicon-floppy-disk"></i> Speichern</button>
            <button class="btn btn-danger" ng-click="cancelEditedLesson()"><i class="glyphicon glyphicon-remove"></i> Abbrechen</button>
        </form>
    </div>
</div>
